.profile-setup__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-setup__header-title {
  margin: 12px 0px;
  color: var(--primary);
  font-size: var(--headline-sm-size);
  font-weight: var(--headline-sm-weight);
  line-height: var(--headline-sm-line-height);
}

.welcome__title {
  margin: 24px 0px;
}

.welcome__title-text {
  color: var(--on-surface);
  font-size: var(--headline-lg-size);
  font-weight: var(--headline-lg-weight);
  line-height: var(--headline-lg-line-height);
  letter-spacing: var(--headline-lg-letter-spacing);
}

.welcome__title-description {
  color: var(--on-surface-variant);
  font-size: var(--body-md-size);
  font-weight: var(--body-md-weight);
  line-height: var(--body-md-line-height);
}
