:root {
  /* Colors */
  --surface: #faf9fe;
  --surface-dim: #dad9df;
  --surface-bright: #faf9fe;

  --surface-container-lowest: #ffffff;
  --surface-container-low: #f4f3f8;
  --surface-container: #eeedf3;
  --surface-container-high: #e9e7ed;
  --surface-container-highest: #e3e2e7;

  --on-surface: #1a1b1f;
  --on-surface-variant: #3e4850;

  --inverse-surface: #2f3034;
  --inverse-on-surface: #f1f0f5;

  --outline: #6f7881;
  --outline-variant: #bec8d1;

  --surface-tint: #00658f;

  --primary: #00658f;
  --on-primary: #ffffff;

  --primary-container: #24a1de;
  --on-primary-container: #00344c;

  --inverse-primary: #86cfff;

  --secondary: #576065;
  --on-secondary: #ffffff;

  --secondary-container: #dbe4ea;
  --on-secondary-container: #5d666b;

  --tertiary: #006e28;
  --on-tertiary: #ffffff;

  --tertiary-container: #00af45;
  --on-tertiary-container: #003911;

  --error: #ba1a1a;
  --on-error: #ffffff;

  --error-container: #ffdad6;
  --on-error-container: #93000a;

  --background: #faf9fe;
  --on-background: #1a1b1f;

  --input-bg: #f2f2f7;
  --input-placeholder: #6b7280;
  /* Radius */
  --radius-sm: 4px;
  --radius: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-full: 9999px;

  /* Spacing */
  --container-margin: 16px;
  --stack-gap: 12px;
  --section-gap: 24px;
  --touch-target-min: 48px;
  --gutter: 12px;
}
